PORT=8000
STAGE=MAINNET
LOG_LEVEL=INFO

SERVER_ADDRESS=0x99Eddcb8d8FA251ad26c4Ff6F8fF04c7d5FC4732
MCP_OPERATOR_PRIVATE_KEY=c4c291c21ed6a496891a3df4ce02d7ae2418fef89a778647aa4e549388e44a29
MCP_OPERATOR_ADDRESS=0x99Eddcb8d8FA251ad26c4Ff6F8fF04c7d5FC4732

D402_FACILITATOR_URL=https://facilitator.d402.net
D402_FACILITATOR_API_KEY=
D402_TESTING_MODE=true
D402_FREE_ACCESS=true

DEFAULT_SETTLEMENT_TOKEN=0xaf88d065e77c8cC2239327C5EDb3A432268e5831
DEFAULT_SETTLEMENT_NETWORK=arbitrum_one
NETWORK=arbitrum_one
ARBITRUM_ONE_RPC_URL=
